$black : #000000;
$blackMain: #333333;
$grey : #BDBDBD;
$greyMain: #828282;
$greyBorder: #E0E0E0;
$greyList: #C4C4C4;
$greyMini: #F2F2F2;
$blue : #446CF6;
$green: #7A9C78;
$greenHover: #486A46;
$greenSent:#D6ECD4;
$white : #FFFFFF;
$edit: #2F80ED;
$accept: #219653;
$reject: #EB5757;
$border: 1px solid $greyMini;
$borderMain: 1px solid $green;
$borderGrey: 1px solid $grey;
$borderHover: 15px solid $green;
$borderBlackGreenHover: 1px solid $greenHover;
$borderHorizontal: 1px solid #F2F2F2;
$borderGreyBorder: 1px solid $greyBorder;
$fontFamily: 'Open Sans',
sans-serif;